<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dobble</title>

<!--    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"-->
<!--            integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"-->
<!--            crossorigin="anonymous"></script>-->
    <script src="./static/socket.io.js"></script>
    <script type="text/javascript">
       if (typeof io === 'undefined') {
           var s_io = document.createElement('script');
           s_io.type = "text/javascript";
           s_io.src = './static/socket.io.js';
           document.head.appendChild(s_io);
        }
    </script>

    <script src="./static/dobble.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dobble.css') }}">
</head>
<body id="body" onload="doc_ready()" style="background: {{ background }};">

<div id="score_bar">
<!--    <div class="score" id="score_1">-->
<!--    </div>-->
</div>

<div id="img_container" style="display: none;">
    {% for id, img_path in imgs_path.items() %}
        <img id="{{ id }}" src="{{ img_path }}"/>
    {% endfor %}
</div>

<div id="common_deck" class="deck">
    {% for i in range(8) %}
        <img class="pict" draggable="false"/>
    {% endfor %}
</div>

<div id="player_deck" class="deck">
    {% for i in range(8) %}
        <img class="pict" draggable="false"/>
    {% endfor %}
</div>

</body>
</html>
