<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imatch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<h1>Vyber si téma a pošli odkaz dalším!!</h1>
    <form id="choose" method="post">
        <input class="view" type="image" src="./static/themes/computer.png"
               alt="Submit" name="computer" value="computer">
        <input class="view" type="image" src="./static/themes/emoji.png"
               alt="Submit" name="emoji" value="emoji">
        <input class="view" type="image" src="./static/themes/music.png"
               alt="Submit" name="music" value="music">
    </form>

    <p>
        Anebo hledej společné obrázky jako single-player! 😎
    </p>
    <ul id="description" role="list">
        <li data-icon="😎">V takovém případě ukazatel nad kartičkama zobrazuje rychlost hráče.
        <li data-icon="🤓">Při připojení dalších hráčů se ukazatel rozdělí podle barev ostatních a
                            zobrazuje kdo má kolik obrázků uhádnuto.</li>
        <li data-icon="🤓">Pozor, ukazatel se při připojení nového hráče vždy zresetuje.</li>
        <li data-icon="🤓">Po odpojení hráčů se ukazatel přepne zpět na rychlost, přičemž je započítána i
                            rychlost během multi-playeru.</li>
        <li data-icon="🤓">Pokud je zasílání odkazu otrava, stačí ostatním říct id hry nahoře
                           vpravo pod kartičkou (ve hře) a zadat ho sem:</li>
    </ul>

    <form id="game_connect" method="post">
        <input class="num_input" type="number" name="game_id">
        <input class="button" type="submit" name="submit" value="připojit!">
    </form>

<p><a class="github" href="https://github.com/Jaroslav-Dvorak/imatch">github</a></p>
</body>
</html>
